{% extends 'base.html' %}

{% block content %}
<main>
  <div style="background-color: rgb(247, 243, 238);">
  <h4 class="text-center mt-4">Analisis y Resultado Algoritmo K-Means</h4>
    <div class="container">
        <div class="row">
            <div class="method ">
              
            </div>
            <div >
              <div >
              <h1>Metodo</h1>
              <select class="form-select" id="inputMethod"  style="width: 150px !important;">
                <!-- <option selected>Seleccionar...</option> -->
                <option disabled selected value="1">K-Means</option>
              </select>
            </div>
            <br>
            <br>

                <form action="{% url 'clustering' %}" method="POST">
                
              <!-- <button class="btn btn-secondary"  type="button" id="cluster_btn" onclick="this.form.submit()" style=" width: 200px; text-align: center; display: block; margin: 0 auto; padding-top: 0% !important; ">Clusterizar</button> -->
         
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="option col-md-4">

                <div class="clusters">
                  <h6>Selecciona el cluster que se conveniente</h6>
                  <p>K(no.Clusters)</p>
                  <div class="n_clusters col-sm-11">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="nilai_k" style="width: 150px;">
                  </div>
                </div>
            </div>
            <div style="padding-top: 5px;">
                    <button class="btn btn-secondary"  type="button" id="cluster_btn" onclick="this.form.submit()" style=" width: 200px !important; height: 50px !important; text-align: center; display: block; margin: 0 auto; padding-top: 0% !important; ">Clusterizar</button>
                  </div>
                  </form>


                <br>
                <br>
                <br>
            <div class="results col-md-12" >
                <p style="text-align: center;">Resultados</p>
                <div >
                  <div class="scrollClusters" id="resultPdf" style="text-align: center;">
                    {% if clusters %}
                      <p> ********************** INFORMACIÓN FINAL **********************</p>
                      <p>DATOS : {{ rows }} rows</p>
                      <p>METODO : K-Means Clustering</p> <br>
                      <p>********************** CLUSTERS **********************</p>
                      {% for signo, cluster in clusters %}
                      <p>{{signo}} : {{ cluster }} </p>
                      {% endfor %}
                      <br>
                      {% for cluster in clusters %}
                      <p>Cluster {{forloop.counter0}} : {{ cluster }} </p>
                    |{% endfor %}
                     <canvas id="chart" width="150px" height="50px"></canvas>


                      {% if chart %}
                        <img src="data:image/png;base64, {{chart|safe}}">
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="model col-md-4">
            
                <div >
                  
                </div>
            </div>
            <div class="col-md-8">
                <button type="button" id="save" class="btn btn-outline-success save">PDF</button>
                <!-- <button style=" padding-right: 15px;"type="button" id="save" class="btn btn-outline-success save">Excel</button> -->
            </div>
        </div>
    </div>
  </div>
</main>
{% endblock %}